.box {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.box1 {
    background-color: lightblue;
    transition: background-color 2s ease;
}

.box1:hover {
    background-color: lightcoral;
}

.box2 {
    background-color: lightgreen;
    transition: transform 3s ease;
}

.box2:hover {
    transform: rotate(45deg);
}

.box3 {
    background-color: rgb(246, 246, 156);
    transition: width 1s ease, height 2s ease, background-color 2s ease;
}

.box3:hover {
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
}

.box4 {
    background-color: lightcyan;
    transition: transform 2s ease;
}

.box4:hover {
    transform: translateX(200px);
}

.box5 {
    background-color: lightpink;
    transition: all 2s steps(5,end);
}

.box5:hover {
    width: 200px;
    height: 200px;
    background-image: image();
}

p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    margin: 20px;
}
a{
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    flex: 1;
    background-color: #333;
    border: 1px solid black;
    transition: all 0.5s ease;
}
a:hover,
a:focus {
  background-color: #fff;
  color: #333;
}
nav {
    display: flex;
    gap: 10px;
}
body{
    background-color: lightslategray;
}